/* CSS Document */
.header{
background:url(../images/l1.gif);
font-size:36px;
font-family:DigifaceWide;
text-align:left;
color:#FFFFFF;}

.home{
color:#000000;
font-size:16px;
font-family:Garamond, DigifaceWide;
text-align:left;
}
.table{
background:#339933;
}

.menu{
color:#B4E7EB;
font-size:16px;
font-family:Garamond;
text-align:center;
font:italic;
}

.footer 
{
	text-align: center;
	background-color:#99CCFF;
	color:#4550AF;
}

.span
{
	color:#FF0000;
	font-size:12px;
}
.tital
{
font:DigifaceWide;
font-size:16px;
color:#3366FF;
}

.showdetail
{
font:Georgia, "Times New Roman", Times, serif;
font-size:12px;
color:#53A9D7;
}


A:link {text-decoration: none; color:#61B6D1; font:DigifaceWide;}
A:visited {text-decoration: none; color:#696969;}
A:active {text-decoration: none}
A:hover {font-size:26; font-weight:bold; color:#BDF2EC;}
